*.beam
*.out
*.so
*.o
*.log
*.dvi
*.aux
*.toc
szakdoli.sublime-project
szakdoli.sublime-workspace
WebPage/.idea/workspace.xml
**/.idea/**
DistributedInterpolation.iml
distributedSystem/*.beam
Client/.idea/workspace.xml
WebPage/.idea/WebPage.iml
