.styled-select select {
   background: transparent;
   width: 268px;
   padding: 5px;
   font-size: 16px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
}

body
{
	margin:0 auto;

	background-color:black;
	background-size:120% auto; /*auto, contain,cover*/
	background-repeat:repeat-y;
	background-position:left top;
	font-family:sans-serif;
	font-weight:bold;
	min-width:100%;
	background-color:black;
}

#menu
{
	min-width:610px;
	width:90%;
	/*float:top;*/
	opacity:0.8;

	padding-top:5px;
	margin:0 auto;

	text-align:center;
	/*background: url(kepek/blue_rose_01.jpg);*/
}

#menu a
{
	text-decoration:none;
	color:black;
	background-color:white;
	padding: 5px 5%;
	margin:0px 5px;
	border-radius:5px;
	border:1px solid blue;
}

#menulist
{
	margin-top:18px;
	text-align: center;
	padding:0px;
	white-space: nowrap;
}

#menulist li
{
	display:inline; /* egy sorba ker?l minden lista bejegyz?s */
	list-style-type:none; 
	padding:0px;
	border: 0px;
	/*border-right:1px solid white;*/
	font-size:20px;
}

#menulist li:last-child
{
	width:auto;
	border-right:none;
}

#debug_menulist
{
	margin-top:18px;
	text-align: left;
	padding:0px;
	white-space: nowrap;
}

#debug_menulist li
{
	display:tabel-cell; /* egy sorba ker?l minden lista bejegyz?s */
	list-style-type:none; 
	border: 0px;
	padding:0px;
	/*border-right:1px solid white;*/
	font-size:20px;
}

#debug_menulist li a {
	padding:10cm, 0cm;
}

#debug_menulist li:last-child
{
	width:auto;
	border-right:none;
}

#plan_menulist {
	margin-left:100px;
}
#plan_menulist ul{
	margin-left:50px;
}

#bodyContent
{
	text-align: left;
	margin: 20px;
	padding: 20px;
}

#bodyContent h1
{
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* --------- placeholder */
#placeholder .button {
	position: absolute;
	cursor: pointer;
}

#placeholder div.button {
	font-size: smaller;
	color: #999;
	background-color: #eee;
	padding: 2px;
}
.message {
	padding-left: 50px;
	font-size: smaller;
}

.bordered {
	border: 1px solid black;
}

.saveInSettingsClass {
	text-align: right;
}

#plotTable {
	padding: 10px;
}

#plotTable th{
	padding: 10px;
}

#tableViewOptions p {
	padding: 5px;
	margin: 5px;
}

#data_set_menulist {
	display: table-cell;
	padding: 10px;
	border: 1px solid black;
}

#one_data_settings {
	display: table-cell;
	padding: 10px;
	border: 1px solid black;
}

#interpolationTable td input {
	max-width: 60px;
	min-width: 60px;
	width: 50px;
	padding: 5px;
}

#debug {
	margin: 60px;
}

#debug_text {
	width: 1000px;
	height: 100px;
}

.hbox {
	display: table-cell; 
	position: relative; 
	overflow: hidden;
}

.buttonDiv {
	margin-left: 40px;
	padding: 5px;
}

.margin_top {
	margin-top: 40px;
}

.buttonDiv input {
	margin: 5px;
}

#interpoationSetTable td:first-child input{
    width: 30px;
}